{% extends 'base.html' %}
{% load static %}
{% block title %}
   Login page
{% endblock %}

{% block content %}
 <br>
  <br>
<br>
  <h1> Change password</h1>
  <form action="" method="post">
      {% csrf_token %}
      {{form }}
      <input type="submit" value="Change" class="btn btn-success">
  </form>



{% endblock %}

{% block my_scripts %}
<script>
    $('input').addClass('form-control mb-2');
    $('textarea[type=text]').addClass('form-control mb-2');
</script>

<script>

</script>
{% endblock %}
