{% extends 'base.html' %}
<!--{% load static %}-->
{% block title %}
   Ro'yxatdan o'tish
{% endblock %}

{% block content %}
  <div class="card border-primary" style="margin:40px;"> <!-- Border rangi ko'k bo'lishi uchun "border-primary" klassini qo'shildik -->
    <div class="card-body">
      <h1 class="card-title mb-4">Kirish</h1>
      <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label for="username" class="form-label">Foydalanuvchi nomi:</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Foydalanuvchi nomi">
          </div>
          <div class="mb-3">
              <label for="password" class="form-label">Parol:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Parol">
          </div>
          <button type="submit" class="btn btn-warning">Kirish</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block my_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('input, textarea').addClass('form-control mb-2');
    });
</script>
{% endblock %}
